header{
    font-size: 45px;
    background-color: yellowgreen;
    padding: 20px;
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
header:hover{
    background-color: black;
    color: yellowgreen;
}
.clr{
    clear: both;
}
body{
    background: #ccc;
}
#photo{
    float: left;
    width: 30%;
    
}
#bio{
    float: right;
    width: 70%;
    padding-left: 15px;
    box-sizing: border-box;
}
.block{

    background: #aaa;
    padding: 10px 20px;
    border-bottom: 1px black solid;
}
.key{
    font-size: 25px;
    text-decoration-line: underline;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.value{
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    padding-left: 15px;
}
.About{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}